<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.translator.simpledb">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <artifact name="${com.amazonaws:aws-java-sdk-simpledb}"/>
        <artifact name="${org.teiid.connectors:translator-simpledb}"/>
    </resources>


    <dependencies>
        <module name="javax.api" />
        <module name="javax.resource.api" />
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
        <module name="com.amazonaws" />
    </dependencies>
</module>