<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.datastax.cassandra.driver.core">
    <resources>
        <resource-root path="cassandra-driver-core-2.0.1.jar"/>
        <resource-root path="metrics-core-3.0.2.jar"/>
        <resource-root path="guava-16.0.1.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="org.slf4j" />
        <module name="org.jboss.netty"/>
    </dependencies>

</module>