<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.rest-service">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <artifact name="${org.teiid.wildfly:rest-service}" />
    </resources>
    
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.servlet.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.client" />
        <module name="org.jboss.teiid.api"/>
        <module name="org.jboss.teiid"/>
                
        <module name="org.jboss.resteasy.resteasy-jaxrs"/> <!--  REST Web Service --> 
        <module name="org.jboss.resteasy.resteasy-multipart-provider"/> <!--  REST Web Service -->
        <module name="org.jboss.resteasy.resteasy-jaxb-provider" />
        <module name="javax.ws.rs.api"/> <!--  REST Web Service -->
        <module name="org.apache.commons.io"/>
        <module name="asm.asm"/>
        
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.dataformat"/>
        <module name="io.swagger.core" />                
    </dependencies>
</module>         
