<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.fasterxml.aalto-xml">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <artifact name="${com.fasterxml:aalto-xml}"/>
    </resources>
    
    <dependencies>
        <module name="org.codehaus.woodstox"/>
        <module name="javax.api"/>
    </dependencies>

</module>