<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.teiid.translator.google.api">
    <resources>
        <resource-root path="google-api-${project.version}.jar" />
        <resource-root path="gdata-core-${version.gdata-core}.jar" />
        <resource-root path="gdata-spreadsheet-${version.gdata-spreadsheet}.jar" />
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />       
        <module name="javax.xml.bind.api" />       
        <module name="org.apache.httpcomponents" />
        <module name="com.google.guava"/>
    </dependencies>
</module>
