<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.translator.infinispan.libmode">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <artifact name="${org.jboss.teiid.connectors:translator-infinispan-libmode}" />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        
        <module name="org.jboss.teiid.translator.object" export="true" />        

        <module name="org.infinispan" slot="jdg-6.6" optional="true"  export="true"  services="import" />
        <module name="org.infinispan.query" slot="jdg-6.6" optional="true" export="true"  services="import" />
        <module name="org.infinispan.query.dsl" slot="jdg-6.6" optional="true"  export="true" /> 
          
        <module name="org.infinispan.lucene-directory" slot="jdg-6.6" optional="true"  export="true" /> 
      
    </dependencies>
</module>
  