<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>oss.sonatype.org</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server> 
  </servers>

  <profiles>
    <profile>
      <id>jboss-public-repository</id>
      <repositories>
        <repository>
            <id>central</id>
            <name>Maven Central</name>
            <url>https://repo.maven.apache.org/maven2/</url>
            <snapshots>
                <enabled>false</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
        </repository>
        <repository>
            <id>sonatype</id>
            <name>Sonatype</name>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
            <snapshots>
                <enabled>true</enabled>
                <updatePolicy>never</updatePolicy>
            </snapshots>
        </repository>        
        <repository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-public-repository-group</id>
          <name>JBoss Public Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>jboss-developer-repository</id>
      <repositories>
        <repository>
          <id>jboss-developer-repository-group</id>
          <name>JBoss Developer Maven Repository Group</name>
          <url>https://repository.jboss.org/nexus/content/groups/developer/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories> 
    </profile>    
    <profile>
      <id>apache-snapshot-repository</id>
      <repositories>
        <repository>
          <id>apache-snapshot-repository-group</id>
          <name>Apache Snapshot Maven Repository Group</name>
          <url>https://repository.apache.org/content/groups/snapshots/</url>
          <layout>default</layout>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories> 
    </profile>
    <!-- 
    <profile>
      <id>jboss-techpreview</id>
      <repositories>
        <repository>
          <id>jboss-techpreview</id>
          <name>JBoss Tech Preview</name>
          <url>https://maven.repository.redhat.com/techpreview/all/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>-->
    <profile>
      <id>jboss-earlyaccess</id>
      <repositories>
        <repository>
          <id>jboss-earlyaccess</id>
          <name>JBoss Early Access</name>
          <url>https://maven.repository.redhat.com/earlyaccess/all/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>       
    <profile>
      <id>thirdparty-uploads</id>
      <repositories>
        <repository>
          <id>thirdparty-uploads</id>
          <name>JBoss Third Party Uploads</name>
          <url>https://repository.jboss.org/nexus/content/repositories/thirdparty-uploads/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
                        
  </profiles>
  

  <activeProfiles>
    <activeProfile>jboss-public-repository</activeProfile>
    <activeProfile>apache-snapshot-repository</activeProfile>
    <activeProfile>jboss-developer-repository</activeProfile>
    <activeProfile>thirdparty-uploads</activeProfile>
    <!-- 
    <activeProfile>jboss-techpreview</activeProfile>
    -->
    <activeProfile>jboss-earlyaccess</activeProfile>
  </activeProfiles>

</settings>
