<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.olingo.client">
    
    <resources>
        <resource-root path="odata-client-api-${version.org.apache.olingo}.jar" />  
        <resource-root path="odata-client-core-${version.org.apache.olingo}.jar" />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.xml.stream.api"/>
        <module name="org.apache.commons.lang" slot="3.3.2"/>
         <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.aalto-xml"/>
        <module name="org.codehaus.woodstox"/>
        <module name="com.fasterxml.jackson.dataformat.xml"/>
        <module name="org.slf4j"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.olingo.common"/>
    </dependencies>
    
</module>
