<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.translator.ws">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <artifact name="${org.teiid.connectors:translator-ws}"/>
    </resources>

    <dependencies>
        <module name="javax.xml.ws.api"/>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
        <module name="com.googlecode.json-simple" />
        <module name="javax.wsdl4j.api"/>
        <module name="org.springframework.spring" optional="true"/>  
    </dependencies>
</module>
