<module xmlns="urn:jboss:module:1.1" name="org.apache.solr">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
       
    <resources>
        <resource-root path="solr-solrj-${version.solr}.jar"/>
        <resource-root path="noggit-${version.noggit}.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.slf4j"/>
        <module name="org.apache.log4j"/>
        <module name="org.apache.commons.configuration"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.io"/>
        <module name="org.apache.zookeeper" />
        <module name="org.apache.httpcomponents" />
        <module name="org.codehaus.woodstox"/>
    </dependencies>
</module>
