<module xmlns="urn:jboss:module:1.3" name="org.jboss.teiid.resource-adapter.simpledb">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
       
    <resources>
        <artifact name="${org.teiid.wildfly.connectors:connector-simpledb}"/>
        <resource-root path="."/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core"/>
        <module name="org.jboss.teiid.api"/>
        <module name="org.jboss.teiid.translator.simpledb"/>
    </dependencies>
</module>