<module xmlns="urn:jboss:module:1.1" name="org.springframework.spring">
  <resources>
    <resource-root path="spring-beans-${version.org.springframework}.jar"/>
    <resource-root path="spring-context-${version.org.springframework}.jar"/>    
    <resource-root path="spring-core-${version.org.springframework}.jar"/>
    <resource-root path="spring-asm-${version.org.springframework.asm}.jar"/>
    <resource-root path="spring-expression-${version.org.springframework}.jar"/>
    
    <resource-root path="spring-aop-${version.org.springframework}.jar"/>   
    <resource-root path="spring-tx-${version.org.springframework}.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.logging"/> 
  </dependencies>
</module>
