<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.fasterxml.jackson.dataformat.yaml">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="jackson-dataformat-yaml-${version.com.fasterxml.jackson.swagger}.jar" />
    </resources>
    
    <dependencies>
    	<module name="org.yaml.snakeyaml" />
    </dependencies>
</module>