<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.fasterxml.jackson.dataformat">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="jackson-dataformat-yaml-${version.com.fasterxml.jackson.dataformat}.jar" />
        <resource-root path="jackson-dataformat-xml-${version.com.fasterxml.jackson.dataformat}.jar" />
        <resource-root path="jackson-datatype-joda-${version.com.fasterxml.jackson.dataformat}.jar"/>
    </resources>
    
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.xml.stream.api"/>
        <module name="com.fasterxml.jackson.core"/>
        <module name="org.yaml.snakeyaml" />
        <module name="org.codehaus.woodstox"/>        
    </dependencies>
</module>