<?xml version="1.0" encoding="UTF-8"?>
<module name="org.springframework.spring" xmlns="urn:jboss:module:1.3">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.springframework:spring-beans}"/>
        <artifact name="${org.springframework:spring-context}"/>
        <artifact name="${org.springframework:spring-core}"/>
        <artifact name="${org.springframework:spring-expression}"/>
        <artifact name="${org.springframework:spring-aop}"/>
        <artifact name="${org.springframework:spring-tx}"/>
    </resources>

    <dependencies>
        <module name="javaee.api"/>
        <module name="org.apache.commons.logging"/>
    </dependencies>
</module>
