<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.teiid.translator.mongodb.api">
    <resources>
        <resource-root path="mongodb-api-${project.version}.jar" />
        <resource-root path="mongo-java-driver-${version.org.mongodb.mongo-java-driver}.jar" />
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
    </dependencies>
</module>
