<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.teiid.translator.accumulo">
    <resources>
        <resource-root path="translator-accumulo-${project.version}.jar" />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
        <module name="org.apache.accumulo" />
        <module name="org.apache.hadoop.core" />
    </dependencies>
</module>