<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.poi">
    <resources>
        <resource-root path="poi-${version.apache.poi}.jar" />
        <resource-root path="poi-ooxml-${version.apache.poi}.jar" />
        <resource-root path="poi-ooxml-schemas-${version.poi-ooxml-schemas}.jar" />
        <!-- Insert resources here -->
    </resources>


    <dependencies>
        <module name="javax.api" />
        <module name="org.apache.xmlbeans" />
        <module name="dom4j" />

    </dependencies>
</module>