<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.reflections">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <artifact name="${org.reflections:reflections}"/>
    </resources>
    
    <dependencies>
        <module name="org.javassist" /> 
        <module name="com.google.guava" />
        <module name="com.google.code.findbugs" /> 
    </dependencies>
    
</module>