<module xmlns="urn:jboss:module:1.1" name="org.jboss.teiid.resource-adapter.infinispan">
   
    <resources>
        <resource-root path="connector-infinispan-${project.version}.jar"/>
        <resource-root path="." />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core"/>
        <module name="org.jboss.teiid.api"/>
        <module name="org.jboss.teiid.translator.object"/>
        <module name="org.infinispan"/>
        <module name="org.infinispan.client.hotrod"/>
        <module name="org.infinispan.cachestore.remote"/>
        <module name="org.jboss.as.clustering.infinispan"/>
        <module name="org.jboss.modules"/>  
        <module name="org.jboss.marshalling"/>      
    </dependencies>
</module>
