<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.jboss.teiid.translator.infinispan.dsl">
    <resources>
        <resource-root path="translator-infinispan-dsl-${project.version}.jar" />

        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core" />
        <module name="org.jboss.teiid.api" />
        <module name="org.jboss.teiid" />
        
        <module name="org.jboss.modules" export="true"/>
        
 	  	<module name="org.infinispan.commons" slot="${jdg.slot}" optional="true" export="true" />
   		<module name="org.infinispan.protostream" slot="${jdg.slot}" optional="true" export="true" />
   		<module name="org.infinispan.client.hotrod" slot="${jdg.slot}" optional="true" export="true" />
        <module name="org.infinispan.query.dsl" slot="${jdg.slot}" optional="true" export="true" />    
                
    </dependencies>   
</module>
