<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="io.swagger.parser">

	<properties>
        <property name="jboss.api" value="private"/>
    </properties>
    
    <resources>
        <resource-root path="swagger-parser-${version.swagger-parser}.jar" />
    </resources>
    
    <dependencies>
        <module name="javax.api" />
        <module name="io.swagger.core" export="true"/>
        <module name="com.fasterxml.jackson" />
        <module name="org.slf4j"/>
    </dependencies>
    
</module>