<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.3" name="net.ucanaccess">

    <resources>
        <resource-root path="ucanaccess-[version].jar"/>
	<resource-root path="hsqldb.jar"/>
	<resource-root path="jackcess-[version].jar"/>
	<resource-root path="commons-lang-[version].jar"/>
	<resource-root path="commons-logging-[version].jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
