<module xmlns="urn:jboss:module:1.1" name="org.jboss.teiid.resource-adapter.infinispan" slot="6">
   
    <resources>
        <resource-root path="connector-infinispan.6-${project.version}.jar"/>
        <resource-root path="." />
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core"/>
        <module name="org.jboss.teiid.api"/>
        <module name="org.jboss.teiid.translator.object" export="true" />
        <module name="org.jboss.modules"/>
        
         <module name="org.infinispan" slot="${jdg.slot}" optional="true"  export="true" />
    </dependencies>
</module>
